* {
    margin: 0;

}

.d-none {
    display: none!important;
}

.header-container {
    height: 100vh;
    background-color: rgb(20, 29, 47);
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(20, 29, 47);
    color: white;
    height: 109px;
    width: 100%;
    max-width: 1440px;
    font-family: 'poppins', 'sans-serif';
    padding-right: 100px;
    padding-left: 100px;
    z-index: 10000;
    position: fixed;
    top: 0;
    span h3 {
        font-size: 60px;
        pointer-events: none;
    }
}

#responsive-menu-button {
    padding-left: 30px;
    cursor: pointer;
}

#responsive-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    text-shadow: 1px 2px 5px black;
    transition: all 250ms ease-in-out;
    transform: translate(10000px);
    font-size: 32px;
    
    div {
        cursor: pointer;
        color: red;
    }
    
}

.links {
    display: flex;
    gap: 46px;
    font-size: 24px;
    padding-left: 10px;
}

.this-is-me {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: calc(100vh - 109px);
    max-width: 1440px;
    padding-top: 109px;
}

.profil {
    width: 50%;

    .profil-image {
        width: 40%;
        position: absolute;
        left: 47px;
        z-index: 1;
        background-image: url('../../../src/assets/img/side-colors/background-profil-image.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }

    .background-profil-image {
        position: absolute;
        left: -40px;
        top: 100px;
    }
}

.profil-info {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding-top: 106px;
    padding-right: 100px;

    a {
        z-index: 1001;
    }

    span p {
        transform: rotate(-90deg);
        font-size: 42px;
    }

    div {
        display: flex;
        align-items: center;
        width: 125%;
    }

    .red-color {
        display: block;
        text-transform: uppercase;
        font-size: 55px;
        color: rgb(255, 71, 71)
    }

    h1 {
        font-size: 62px;
        font-weight: 700;
    }
}

.vector {
    width: 100%;
    z-index: 100;
    position: absolute;
    bottom: -495px;
    overflow: hidden;
}

.scroll-down {
    position: absolute;
    bottom: 0;
    right: 100px;
    color: white;
    z-index: 600;
    transform: rotate(90deg);
    display: flex;
    height: 30px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    pointer-events: none;
    img {
        width: 16px;
        height: 16px;
        transform: rotate(-90deg);
    }
}

.links-to-locations {
    position: absolute;
    bottom: 10px;
    z-index: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 23px;

    .links-logos {
        display: flex;
        gap: 40px;
    }

    .red-line {
        width: 100px;
        height: 1px;
        border-radius: 15px;
        border: 4px solid #FF4747;
    }
}

.to-the-top {
    position: absolute;
    right: 40px;
}

.border-red {
    border: 1px solid red;
}

.border-green {
    border: 1px solid green;
}

@media(max-width: 1230px) {
    .this-is-me {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .profil img{
            width: unset!important;
    }

    .profil-info {
        z-index: 1020;
        gap: unset;

        div {
            width: unset;
        }
    }

    .vector {
        bottom: -436px;
    }

    .scroll-down {
        right: 40px;
    }
}

@media(max-width: 960px) {
    .scroll-down {
        display: none;
    }

    .profil-info {
        padding-right: 50px;
    }
}

@media (max-width: 860px) {
    .header {
        padding-left: 0;

        span h3 {
            width: unset;
            padding-left: 10px;
        }
    }

    .profil-info {
        span h1,
        span h2
        {
            font-size: 40px;
        }
        span p {
            font-size: 30px
        }
    }    
}

@media (max-width: 590px) {
    .links {
        display: none;
    }

    .profil-info {
        span h1,
        span h2
        {
            font-size: 32px;
        }
        span p {
            font-size: 20px;
        }
    }

    .email-adress {
        display: none;
    }

    .header {
        padding-right: 20px;
    }

    #responsive-menu-button {
        display: inline!important;
    }
}

@media (max-width: 475px) {
    .profil-info {
        padding-right: unset;
        
        span h1,
        span h2
        {
            font-size: 22px;
        }
        span p {
            font-size: 18px;
        }
    }
}