.d-none {
    display: none!important;
}

.footer-container {
    height: 291px;
    background-color: rgb(20, 29, 47);
    border-top: 4px solid #FA7902;
}

footer {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    overflow: hidden;
}

.footer-name {
    font-size: 16px;

    h2 {
        font-size: 68px;
        font-weight: 700;
    }
}

.footer-links {
    display: flex;
    gap: 50px;
}

/*<-----------imprint-------------->*/

#imprint-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(20, 29, 47);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    color: white;
    z-index: 40000;
    text-shadow: 1px 1px 5px black;
}

.adress {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    pointer-events: none;

    h1 {
        font-size: 90px;
        text-decoration: underline;
        text-decoration-thickness: 4px;
        text-underline-offset: 16px;
    }
}

.my-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 32px;
}

#close-imprint {
    position: absolute;
    right: 40px;
    top: 40px;

    img {
        width: 60px;
        height: 60px;
        cursor: pointer;
        box-shadow: 1px 1px 15px white;
        border-radius: 50%;
    }
}

@media(max-width: 1450px) {
    footer {
        width: unset;
    }
}

@media(max-width: 900px) {
    footer {
        flex-direction: column;
        text-align: center
        ;
    }
}

@media(max-width: 820px) {
    #imprint-container {
        text-align: center;
    }
}

@media(max-width: 500px) {
    .adress {
        
        h1 {
            font-size: 70px;
        }

        p {
            font-size: 30px
        }
    }
}

@media(max-width: 400px) {
    .adress {
        
        h1 {
            font-size: 50px;
        }

        p {
            font-size: 20px
        }
    }

    .my-contact {

        p {
            font-size: 30px;
            display: flex;
            flex-direction: column;

                a {
                    font-size: 25px;
                }
        }
    }
}