<div class="footer-container">
    <footer>
        <div class="footer-name">
            <h2>Manuel</h2>
            <a href="" (click)="showImprint()" id="imprint">Impressum</a>
        </div>
        <div class="footer-created">
            <p>&copy; Manuel Mannhold 2024</p>
        </div>
        <div class="footer-links">
            <a class="github-button" href="https://github.com/ManuelMannhold" target="_blank"><img src="../../assets/img/github-button.png" alt=""></a>
            <a class="mail-button" href="mailto:M.Mannhold@gmx.de" target="_blank"><img src="../../assets/img/mail-button.png" alt=""></a>
            <a class="linkedin-button" href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_nav-header-signin" target="_blank"><img src="../../assets/img/linkedin-button.png" alt=""></a>
        </div>
    </footer>
    <div id="imprint" class="d-none">
        <div id="imprint-container">
            <div id="close-imprint" (click)="hideImprint()">
                <img src="../../assets/img/close-button.png" alt="">
            </div>
            <div class="adress">
                <h1>Manuel Mannhold</h1>
                <p>Paul-Schreier-Straße 26</p>
                <p>16761 Hennigsdorf</p>
            </div>
            <div class="my-contact">
                <p>Tel: <a href="tel: +4917683168535">017683168535</a></p>
                <p>Email: <a href="mailto: M.Mannhold@gmx.de">M.Mannhold&#64;gmx.de</a></p>
            </div>
        </div>
    </div>
</div>