<div class="about-me-container" id="about-me-anchor">
    <header>
        <h2>Über mich</h2>
    </header>
    <section>
        <div class="left">
            <div>
                <p>
                    Hallo, Ich bin ein Frontend Developer mit Sitz in Brandenburg, <br>
                    Deutschland.
                </p>
                <br>
                <p>
                    Die IT hat mich schon immer fasziniert, insbesondere die Programmierung. Derzeit arbeite ich als
                    Maschinen- und Anlagenführer, freue mich jedoch darauf, meine berufliche Zukunft in der IT-Branche
                    zu
                    gestalten.

                    Bei der Developer Akademie habe ich das Programmieren in JavaScript gelernt und später meine
                    Kenntnisse
                    in TypeScript und Angular erweitert. Durch praxisnahe Projekte, die sowohl individuell als auch im
                    Team
                    durchgeführt wurden, konnte ich erste wertvolle Einblicke in die Welt der Programmierung gewinnen.
                </p>
            </div>
            <div class="personal">
                <img src="../../assets/img/light-bulb-about-me.png" alt="">
                <span>Ich bin aufgeschlossen und immer auf der Suche nach persönlichen Herausforderungen, um mein Wissen
                    ständig zu erweitern.</span>
            </div>
            <div class="job">
                <img src="../../assets/img/puzzle-about-me.png" alt="">
                <span>In meinem Beruf ist Programmieren nicht nur das Schreiben von Code; es ist eine kreative Form des
                    Problemlösens. Ich bin stolz darauf, komplexe technische Herausforderungen in einfache,
                    benutzerfreundliche Lösungen umzuwandeln. So helfe ich Ihnen, Ihre Ziele zu erreichen und Ihre
                    Visionen zum Leben zu erwecken.</span>
            </div>
        </div>
        <div class="right">
                <img class="portrait" src="../../assets/img/owner-image-portrait.png" alt="">
                <span></span>            
        </div>
    </section>
    <img class="red-color-right-side" src="../../assets/img/side-colors/red1.png" alt="">
</div>