<div class="about-me-container"  id="anchor-about-me">
    <header>
        <h2>About Me</h2>
    </header>
    <section>
        <div class="left">
            <p>
                Hallo, Ich bin ein Front-end Developer mit Sitz in Brandenburg, <br>
                Deutschland.
            </p>
            <br>
            <p>
                Die IT hat mich schon immer fasziniert, insbesondere die Programmierung. Derzeit arbeite ich als
                Maschinen- und Anlagenführer, freue mich jedoch darauf, meine berufliche Zukunft in der IT-Branche zu
                gestalten.

                Bei der Developer Akademie habe ich das Programmieren in JavaScript gelernt und später meine Kenntnisse
                in TypeScript und Angular erweitert. Durch praxisnahe Projekte, die sowohl individuell als auch im Team
                durchgeführt wurden, konnte ich erste wertvolle Einblicke in die Welt der Programmierung gewinnen.
            </p>
        </div>
        <div class="right">
            <div class="portrait">
                <span></span>
            </div>
        </div>
    </section>


</div>