<div class="about-me-container" id="about-me-anchor">
    <header>
        <h2>{{'aboutme.aboutme' | translate}}</h2>
    </header>
    <section>
        <div class="left">
            <div>
                <br>
                <p>
                    {{'aboutme.story' | translate}}
                </p>
            </div>
            <div class="personal">
                <img src="../../assets/img/light-bulb-about-me.png" alt="">
                <span>
                    <p>
                        {{'aboutme.newtask' | translate}}
                    </p>
                </span>
            </div>
            <div class="job">
                <img src="../../assets/img/puzzle-about-me.png" alt="">
                <span>
                    <p>
                        {{'aboutme.job' | translate}}
                    </p>
                </span>
            </div>
        </div>
        <div class="right">
            <div>
                <img class="portrait" src="../../assets/img/owner-image-portrait.png" alt="">
            </div>
            <span></span>
        </div>
    </section>
    <img class="red-color-right-side" src="../../assets/img/side-colors/red1.png" alt="">
</div>