
@media(max-width: 600px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(max-width: 540px) {
    .container {
        gap: 5px;
    }
}

@media(max-width: 440px) {
    .container {
        flex-direction: column;
    }
}