.container {
    width: 100%;
    height: auto;
    min-height: 50vh;
    position: relative;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 40px;
    background-color: #1B2539;
}

#member-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: auto;
}

#member-container>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    color: white;
    border-radius: 10px;
    padding: 20px;
}

#member-container>.active {
    opacity: 1;
    position: relative;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;

    h3 {
        font-size: 40px;
        text-align: center;
        width: auto;
    }
}

#arrow-left,
#arrow-right {

    position: inherit;
    z-index: 100;

    img {
        width: 70px;
        height: 70px;
        cursor: pointer;
    }
}

@media(max-width: 600px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(max-width: 540px) {
    .container {
        gap: 5px;
    }
}

@media(max-width: 440px) {
    .container {
        flex-direction: column;
    }
}