* {
    margin: 0;

}

.d-none {
    display: none !important;
}

#top-view {
    position: sticky;
    top: 0;
    z-index: 10000;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 29, 47);
    color: white;
    font-family: 'poppins', 'sans-serif';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5000;
    height: 109px;

    span h3 {
        font-size: 60px;
        pointer-events: none;
    }
}

.header-container {
    display: flex;
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    div {
        display: flex;
        gap: 20px;
        width: 40%;
    }
}

#responsive-menu-button {
    padding-left: 30px;
    cursor: pointer;
}

#responsive-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    text-shadow: 1px 2px 5px black;
    transition: all 250ms ease-in-out;
    transform: translate(10000px);
    font-size: 32px;
    z-index: 5000;

    div {
        cursor: pointer;
        color: red;
    }

}

.german {
    background-image: url('../../../assets/img/german-flag.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.english {
    background-image: url('../../../assets/img/england-flag.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.toggle-language {
    min-width: 10%;
    height: 40%;
    cursor: pointer;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 860px) {
    nav {
        padding-left: 0;

        span h3 {
            width: unset;
            padding-left: 10px;
        }
    }
}

@media(max-width: 740px) {
    .links {
        display: none;
    }
    
    #responsive-menu-button {
        display: inline!important;
    }

    .header-container {
        div {
            width: unset;
        }
    }

    .toggle-language {
        height: 5%;
    }

    nav {
        padding-right: 20px;
    }
}

@media (max-width: 605px) {
    .email-adress {
        display: none;
    }

    nav {
        padding-right: 20px;
    }
}
