* {
  margin: 0;
}

.d-none {
  display: none !important;
}

#top-view {
  position: sticky;
  top: 0;
  z-index: 10000;
}

.active {
  color: orange;
}

nav {
  display: flex;
  justify-content: center;
  background-color: rgb(20, 29, 47);
  color: white;
  font-family: "poppins", "sans-serif";
  width: 100%;
  padding: 0 10px;

  span h3 {
    font-size: 60px;
    pointer-events: none;
  }
}

.nav-wrapper {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-container {
  display: flex;
  width: 100%;
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;

  div {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
  }
}

.header-name-language {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;

  span {
    pointer-events: none;
  }

  img {
    max-width: 100%;
    min-width: 60%;
  }
}

#responsive-menu-button {
  padding-left: 30px;
  cursor: pointer;
}

#responsive-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  text-shadow: 1px 2px 5px black;
  transition: all 250ms ease-in-out;
  transform: translate(10000px);
  font-size: 32px;
  z-index: 5000;

  div {
    cursor: pointer;
    color: red;
  }
}

.change-language {
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
}

.toggle-language {
  min-width: 20%;
  height: 55px;
  width: 100px;
  cursor: pointer;
}

.toggle-language-responsive {
  min-width: 30%;
  height: 55px;
  width: 100px;
  cursor: pointer;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 24px;
}

.navigation-links {
  flex: 1;
  padding-left: 10px;
  display: flex;
  justify-content: flex-end;
}
