<div>
    <nav>
        <div class="header-container">
            <span class="header-name-language">
                <a href="main-content"><img src="../../../assets/img/manuel_logo_white_and_orange.png" alt=""></a>
                <span (click)="changeLanguage()" [ngClass]="english ? 'english' : 'german'" class="toggle-language"></span>
            </span>
            <div>
            <span class="links">
                <a href="#about-me-anchor">{{'header.aboutMe' | translate}}</a>
                <a href="#my-skill-anchor">{{'header.skill' | translate}}</a>
                <a href="#portfolio-anchor">{{'header.project' | translate}}</a>
            </span>
        </div>
            <div id="responsive-menu-button" class="d-none" (click)="openResponsiveMenu()">
                <img src="../../assets/img/responsive_menu.png" alt="">
            </div>
            <div id="responsive-menu">
                <span (click)="changeLanguage()" [ngClass]="english ? 'english' : 'german'" class="toggle-language-responsive"></span>
                <div id="close-responsive" (click)="closeResponsiveMenu()">X</div>
                <a href="#about-me-anchor">{{'responsmenu.aboutme' | translate}}</a>
                <a href="#my-skill-anchor">{{'responsmenu.skill' | translate}}</a>
                <a href="#portfolio-anchor">{{'responsmenu.portfolio' | translate}}</a>
                <a href="#contact-anchor">{{'responsmenu.contact' | translate}}</a>
                <a href="imprint">{{'responsmenu.imprint' | translate}}</a>
            </div>
        </div>
    </nav>
</div>