    <nav>

            <span class="header-name-language">
                <span>Go back<img src="../../../assets/img/arrow-small.png" style="width: 50px;"></span>
                <a routerLink="main-content"><img src="../../../assets/img/manuel_logo_white_and_orange.png" alt=""></a>
            </span>
            <span class="change-language"><span (click)="changeLanguage('de')" class="change-language">DE</span> <span class="seperator">|</span> <span (click)="changeLanguage('en')" class="change-language">EN</span></span>
            <div>
                <span class="links">
                    <a href="#about-me-anchor">{{'header.aboutMe' | translate}}</a>
                    <a href="#my-skill-anchor">{{'header.skill' | translate}}</a>
                    <a href="#portfolio-anchor">{{'header.project' | translate}}</a>
                </span>
            </div>
            <div id="responsive-menu-button" class="d-none" (click)="openResponsiveMenu()">
                <img src="../../assets/img/responsive_menu.png" alt="">
            </div>
            <div id="responsive-menu">
                <div id="close-responsive" (click)="closeResponsiveMenu()">X</div>
                <a href="#about-me-anchor">{{'responsmenu.aboutme' | translate}}</a>
                <a href="#my-skill-anchor">{{'responsmenu.skill' | translate}}</a>
                <a href="#portfolio-anchor">{{'responsmenu.portfolio' | translate}}</a>
                <a href="#contact-anchor">{{'responsmenu.contact' | translate}}</a>
                <a href="imprint">{{'responsmenu.imprint' | translate}}</a>
                <a href="privacy-policy">{{ 'policy.policy' | translate}}</a>
            </div>
    </nav>
