
@media (max-width: 860px) {
  .header-container {
    padding-left: 0;

    span h3 {
      width: unset;
      padding-left: 10px;
    }
  }
}

@media (max-width: 740px) {
  .links {
    display: none;
  }

  #responsive-menu-button {
    display: inline !important;
    height: 30px;
  }

  .header-container {
    div {
      width: unset;
    }
  }

  .header-container {
    padding-right: 10px;
  }
}

@media (max-width: 605px) {
  .email-adress {
    display: none;
  }

  nav {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 520px) {
  .change-language {
    flex-direction: column;
    gap: unset;
    padding-left: 5px;
    line-height: 20px;
    align-items: center;
    font-size: 20px;

    .seperator {
      transform: rotate(90deg);
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-height: 650px) {
  #responsive-menu {
    gap: 10px;
  }
}