<div class="contact-container" id="contact-anchor">
    <section>
        <header>
            <div class="stripe"></div>
            <h2 class="headline">Contact</h2>
        </header>
        <div class="contact-form">
            <div class="contact-form-info">
                <h3>
                    Gibt es Fragen?
                </h3>
                <p>
                    Kontaktieren Sie mich gerne über das Nachrichtenfeld falls es Fragen oder Anmerkungen gibt
                </p>
                <p>Sie brauchen einen Frontend Developer? <span class="contact-form-contact-bold" id="contact-me-focus"
                        (click)="contactMe()">Kontaktieren Sie
                        mich</span></p>
            </div>
            <div class="contact-form-input">
                <form action="">
                    <div>
                        <input type="text" id="input-name" placeholder="Name" required>
                        <span>Bitte das Feld ausfüllen!</span>
                    </div>
                    <div>
                        <input type="email" id="input-mail" placeholder="Email Adresse" required>
                        <span>Bitte das Feld ausfüllen!</span>
                    </div>
                    <div>
                        <textarea id="input-message" rows="5" cols="15" wrap="hard" placeholder="Nachricht"></textarea>
                        <span>Bitte das Feld ausfüllen!</span>
                    </div>
                    <span id="contact-form-policy">
                        <img id="checkbox-image" (click)="toggleImage()"
                            src="{{ showCheckbox ? '../../../../assets/img/checkbox_checked.png' : '../../../../assets/img/checkbox_empty.png'}}">
                        <p>Ich habe die AGB gelesen und stimme zu</p>
                    </span>
                    <div class="send-button-class">
                        <button id="contact-message-send-button" class="button-disabled">Nachricht Abschicken</button>
                    </div>
                </form>
            </div>
            <div id="to-the-top">
                <a href="#top-view">
                    <img src="../../assets/img/to-the-top.png" alt="">
                </a>
            </div>
        </div>

        <div class="left-side-red-color"></div>
    </section>
</div>