.d-none {
    display: none!important;
}

.no-scroll {
    overflow: hidden;
}

input:invalid, textarea:invalid {
    border: 1px solid red;

    #input-span {
        display: inline;
    }
}

input:valid, textarea:valid {
    border: 1px solid green;

    #input-span {
        display: none;
    }
}

.d-none {
    display: none;
}

.contact-container {
    width: 100%;
    height: auto;
    background-color: rgb(20, 29, 47);
    color: white;
}

header {
    display: flex;
    align-items: center;

    .stripe {
        width: 50px;
        height: 1px;
        border: 4px solid #FF4747;
        position: absolute;
        left: 0;
        height: 1px;
    }
}

section {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;
    padding-top: 140px;
    max-width: 1440px;
}

.headline {
    color: white;
    font-size: 90px;
    font-weight: 700;
}

.contact-form-contact-bold {
    color: white;
    font-weight: 400;
    cursor: pointer;
}

.contact-form {
    display: flex;
    position: relative;
    width: 100%;
}

.contact-form-info {
    padding: 30px 10px 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}

.contact-form-input {
    flex: 1;
    z-index: 1001;

    form {
    display: flex;
    flex-direction: column;
    gap: 50px;

    div {
        display: flex;
        flex-direction: column;
        gap: 5px;
        color: red;
    }

    input,
    textarea
    {
        background-color: transparent;
        border-radius: 10px;
        padding: 15px 25px;
        width: 100%;
        resize: none;
        color: white;
    }
}
}

#contact-form-policy {
    display: flex;
    gap: 10px;

    #checkbox-image {
        cursor: pointer;
        max-width: 20px;
        max-height: 20px;
    }
}

#to-the-top {
    position: absolute;
    right: 10px;
    bottom: 0;
    z-index: 1200;

    :hover {
        cursor: pointer;
    }
}

.left-side-red-color {
    position: absolute;
    left: 0;
    top: 5215px;
    height: 40%;
}

.button-disabled {
    background-color: #B6B6B6;
    pointer-events: none;
    cursor: no-drop;
}

.send-button-class {
    width: 100%;
    display: flex;
    align-items: center;
}

#email-alert {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5000;
}

.email-alert-text {
    width: 50%;
    height: 30%;
    border-radius: 15px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    font-size: 24px;
    color: black;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;

        img {
            width: 40px;
            height: 40px;
        }
}

@media(max-width: 900px) {
    .contact-form {
        flex-direction: column;

        .contact-form-info {
            width: 100%;
            padding-bottom: 40px;
        }
    }

    .left-side-red-color {
        display: none;
    }
}

@media(max-width: 600px) {
    header {

        h2 {
            font-size: 70px;
        }
    }

    #to-the-top {
        position: unset;
        display: flex;
        justify-content: flex-end;
        padding-top: 20px;
    }
}

@media(max-width:450px) {
    header {
        width: 100%;
        display: flex;
        gap: 30px;

        .stripe {
            position: relative;
        }

        .headline {
            font-size: 45px;
        }
    }

    section{
        padding-right: 20px;
        padding-left: unset;
    }

    .contact-form {
        padding-left: 20px;
    }

    #email-alert {
        padding-left: unset;
        padding-right: unset;
        margin-left: 20px;
        margin-right: 20px;
    }

    .email-alert-text {
        width: 100%;
    }
}