* {
    margin: 0;
    z-index: 900;
    font-family: 'Poppins';
}

.about-me-container {
    width: 1440px;
    background-color: rgb(20, 29, 47);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

    header {
        width: 100%;
        padding-top: 100px;

        h2 {
            color: white;
            font-size: clamp(2rem, 6vw, 4rem);
            font-weight: 700;
        }
    }
}

section {
    width: 100%;
    color: white;
    font-size: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
}

.container {
    display: flex;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    position: relative;

    div {
        width: 453px;
        height: 453px;
    }

    img {
        filter: brightness(0.9);
    }

    span {
        border: 4px solid #FA7902;
        height: 1px;
        flex: 1;
    }
}

.red-color-right-side {
    position: absolute;
    right: 0;
    z-index: 100;
}

.portrait {
    border: 4px solid rgb(224, 114, 10);
    border-radius: 50%;
    object-fit: cover;
    height: 100%;
    width: 100%;

    span {
        width: 300px;
        height: 1px;
        border: 4px solid rgb(224, 114, 10);
    }
}

.personal {
    display: flex;
    gap: 20px;
    padding-top: 40px;

    img {
        max-width: 50px;
        max-height: 60px;
    }
}

.job {
    display: flex;
    gap: 20px;
    padding-top: 40px;

    img {
        max-width: 50px;
        max-height: 60px;
    }
}

.iframe {
    padding-top: 20px;
}

