@media(max-width:1200px) {
    section {
        height: unset;
        margin-bottom: 40px;
    }
}

@media(max-width: 1000px) {
    .right {

        div {
            height: 390px;
            width: 390px;
        }
    }
}

@media (max-width: 760px) {
    .left {
        height: auto;
        width: 100%;
        justify-content: flex-start;
    }

    .right {
        display: none;
    }

    section {
        padding-top: unset;
    }
}

@media (max-width: 600px) {
    #anchor-about-me {

        h2 {
            position: unset;
        }
    }

    .about-me-container {
        padding-left: 10px;
        padding-right: 10px;


        header {
            height: unset;
            padding-left: unset;
        }
    }

    section {
        padding-left: unset !important;
    }

    .red-color-right-side {
        display: none;
    }
}




@media (max-width: 460px) {

    .about-me-container {

        header {
            text-align: left;
        }
    }

    #anchor-about-me {
        text-align: center;
        padding-top: 30px;

        h2 {
            line-height: 80px;
            text-align: center;
        }
    }

    .left {
        padding-right: unset;
    }
}

@media(min-height: 1000px) {
    section {
        height: unset;
    }
}