<div class="vector">
    <img class="vector-profil" src="../../assets/img/Vector.png" alt="">
</div>
<section class="this-is-me" id="top-view">
    <div class="profil">
        <img class="profil-image" src="../../assets/img/owner-image.png" alt="">
    </div>
    <div class="profil-info">
        <div>
            <span>
                <p>{{'landing.iam' | translate}}</p>
            </span>
            <span>
                <h1>Manuel Mannhold</h1>
                <h2 class="red-color">{{'landing.developer' | translate}}</h2>
            </span>
        </div>
        <a href="#contact-anchor"><button>{{'landing.talk' | translate}}</button></a>
    </div>
    <div  class="links-info">
        <span class="scroll-down">
            <p>{{'landing.scroll' | translate}}</p>
            <img src="../../../assets/img/arrow-down.png" alt="">
        </span>
        <div class="links-to-locations">
            <div class="red-line"></div>
            <div class="links-logos">
                <a class="github-button" href="https://github.com/ManuelMannhold" target="_blank"><img
                        src="../../assets/img/github-button.png" alt=""></a>
                <a class="mail-button" href="mailto:M.Mannhold@gmx.de" target="_blank"><img
                        src="../../assets/img/mail-button.png" alt=""></a>

                <a class="linkedin-button"
                    href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_nav-header-signin"
                    target="_blank"><img src="../../assets/img/linkedin-button.png" alt=""></a>
            </div>
            <div class="email-adress">
                <a href="mailto:contact@manuel-mannhold.de">contact&#64;manuel-mannhold.de</a>
            </div>
        </div>
    </div>
</section>