.links {
  display: flex;
  gap: 46px;
  font-size: 24px;
  padding-left: 10px;
}

.this-is-me {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: calc(100vh - 109px);
  max-width: 1440px;
  overflow: hidden;
  margin-top: 109px;
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.profil {
  width: 50%;

  .profil-image {
    z-index: 1;
    background-image: url("../../../../src/assets/img/side-colors/background-profil-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  .background-profil-image {
    position: absolute;
    left: -40px;
    top: 100px;
  }
}

.links-info {
  width: 100%;
}

.profil-info {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-right: 100px;
  z-index: 110;
  gap: 20px;

  a {
    z-index: 1001;
  }

  span p {
    transform: rotate(-90deg);
    font-size: clamp(1rem, 4vw, 2rem);
  }

  div {
    display: flex;
    align-items: center;
    width: 125%;
  }

  .red-color {
    display: block;
    text-transform: uppercase;
    font-size: clamp(1.5rem, 6vw, 2.5rem);
    color: rgb(255, 71, 71);
  }

  h1 {
    font-size: clamp(1.5rem, 6vw, 3rem);
    font-weight: 700;
  }
}

.vector {
  z-index: 100;
  position: absolute;
  bottom: -120px;
  left: 0;
  right: 0;
  height: 100%;

  img {
    width: 100%;
  }
}

.scroll-down {
  position: absolute;
  bottom: 80px;
  right: 0;
  color: white;
  z-index: 600;
  transform: rotate(90deg);
  display: flex;
  height: 30px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  pointer-events: none;
  img {
    width: 16px;
    height: 16px;
    transform: rotate(-90deg);
  }
}

.links-to-locations {
  position: absolute;
  bottom: 10px;
  z-index: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 23px;

  .links-logos {
    display: flex;
    gap: 40px;
  }

  .red-line {
    width: 100px;
    height: 1px;
    border-radius: 15px;
    border: 4px solid #ff4747;
  }
}

.to-the-top {
  position: absolute;
  right: 40px;
}

.border-red {
  border: 1px solid red;
}

.border-green {
  border: 1px solid green;
}

@media (pointer: coarse) {
  .this-is-me {
    height: calc(100svh - 109px);
  }
}

@media (max-width: 1230px) and (max-height: 720px) {
  .vector {
    bottom: -65px;
  }
}

@media (max-width: 1230px) {
  .this-is-me {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profil img {
    width: unset !important;
  }

  .profil {
    width: 100%;
    flex: 1;
    height: 60%;
  }

  .profil-info {
    z-index: 1020;
    width: 100%;
    flex: 1;
    padding-bottom: 5px;

    div {
      width: unset;
    }
  }
}

@media (max-width: 960px) {
  .scroll-down {
    display: none;
  }

  .profil-info {
    padding-right: 50px;
  }
}

@media (max-width: 860px) {
  .header {
    padding-left: 10px;

    span h3 {
      width: unset;
      padding-left: 10px;
    }
  }
}

@media (max-width: 740px) {
  .links {
    display: none;
  }

  #responsive-menu-button {
    display: inline !important;
  }

  .header {
    padding-right: 20px;
  }
}

@media (max-width: 700px) {
  .email-adress {
    display: none;
  }
}

@media (max-width: 605px) {
  .profil-info {
    padding-right: unset;
  }

  .header {
    padding-right: 20px;
  }

  section {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 475px) {
  .profil-info {
    padding-right: unset;
    flex-direction: column;
  }

  .profil {
    .profil-image {
      left: 0;
    }
  }
}

@media (max-width: 1810px) {
  .vector {
    bottom: -90px;
  }
}

@media (min-width: 1930px) {
  .vector {
    bottom: -50px;
  }
}

@media (min-width: 2070px) {
  .vector {
    bottom: -20px;
  }
}

@media (min-width: 2170px) {
  .vector {
    bottom: 0;
  }
}

@media (min-width: 2270px) {
  .vector {
    bottom: 60px;
  }
}

@media (min-width: 2470px) {
  .vector {
    bottom: 110px;
  }
}

@media (width < 1440px) {
  .vector {
    left: unset;
    right: unset;
    overflow: hidden;
    width: 100%;
    img {
      width: unset;
    }
  }
  .this-is-me {
    position: relative;
  }
}

/*<-----------height------------->*/

@media (max-height: 840px) and (max-width: 1230px) {
  .profil {
    height: 50%;
    img {
      left: unset !important;
      height: 100%;
    }
  }

  .vector {
    bottom: -80px;
    height: 100%;
    width: 100%;

    img {
      height: 118%;
      width: 134%;
    }
  }
}

@media (max-height: 720px) {
  .vector {
    bottom: -70px;
  }

  .profil {
    img {
      height: 100%;
      object-fit: contain;
    }
  }
}

@media (max-height: 720px) and (max-width: 1230px) {
  .scroll-down {
    right: 0;
  }
}

@media (max-height: 720px) and (max-width: 1020px) {
  .scroll-down {
    right: 0;
  }
}

@media (max-height: 670px) {
  .profil-info {
    a {
      button {
        width: 190px;
        height: 60px;
      }
    }
  }
}

@media (max-height: 600px) {
  .vector {
    height: 115%;
    bottom: 0;
  }
}

@media (max-height: 600px) and (max-width: 1230px) {
  .vector {
    bottom: -100px;
  }
}

@media (max-height: 550px) {
  .vector {
    height: 135%;
  }

  .scroll-down {
    right: 0;
  }
}

@media (max-height: 550px) and (max-width < 1230px) {
  .profil-info {
    flex-direction: row;
    padding-bottom: 40px;
    span {
      p {
        font-size: 20px;
      }
    }
  }
}

@media (max-height: 560px) and (max-width: 780px) {
  .profil-info {
    align-items: center;
  }
}
