@media (pointer: coarse) {
  .this-is-me {
    height: calc(100svh - 109px);
  }
}

@media (max-width: 1230px) and (max-height: 720px) {
  .vector {
    bottom: -65px;
  }
}

@media (max-width: 1230px) {
  .this-is-me {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profil img {
    width: unset !important;
  }

  .profil {
    width: 100%;
    flex: 1;
    height: 60%;
  }

  .profil-info {
    width: 100%;
    flex: 1;
    padding-bottom: 5px;

    div {
      width: unset;
    }
  }
}

@media (max-width: 960px) {
  .scroll-down {
    display: none;
  }

  .profil-info {
    padding-right: 50px;
  }
}

@media (max-width: 860px) {
  .header {
    padding-left: 10px;

    span h3 {
      width: unset;
      padding-left: 10px;
    }
  }
}

@media (max-width: 740px) {
  .links {
    display: none;
  }

  #responsive-menu-button {
    display: inline !important;
  }

  .header {
    padding-right: 20px;
  }
}

@media (max-width: 700px) {
  .email-adress {
    display: none;
  }
}

@media (max-width: 605px) {
  .profil-info {
    padding-right: unset;
  }

  .header {
    padding-right: 20px;
  }

  section {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 475px) {
  .profil-info {
    padding-right: unset;
    flex-direction: column;
  }

  .profil {
    .profil-image {
      left: 0;
    }
  }
}

@media (max-width: 1810px) {
  .vector {
    bottom: -120px;
  }
}

@media (min-width: 1930px) {
  .vector {
    bottom: -50px;
  }
}

@media (min-width: 2070px) {
  .vector {
    bottom: -20px;
  }
}

@media (min-width: 2170px) {
  .vector {
    bottom: 0;
  }
}

@media (min-width: 2270px) {
  .vector {
    bottom: 60px;
  }
}

@media (min-width: 2470px) {
  .vector {
    bottom: 110px;
  }
}

@media (width < 1440px) {
  .vector {
    left: unset;
    right: unset;
    overflow: hidden;
    width: 100%;
    img {
      width: unset;
    }
  }
  .this-is-me {
    position: relative;
  }
}

/*<-----------height------------->*/

@media (max-height: 840px) and (max-width: 1230px) {
  .profil {
    height: 50%;
    img {
      left: unset !important;
      height: 100%;
    }
  }

  .vector {
    bottom: -20px;
    height: 100%;
    width: 100%;

    img {
      height: 118%;
      width: 134%;
    }
  }
}

@media (max-height: 720px) {
  .vector {
    bottom: -30px;
  }

  .profil {
    img {
      height: 100%;
      object-fit: contain;
    }
  }
}

@media (max-height: 720px) and (max-width: 1230px) {
  .scroll-down {
    right: 0;
  }
}

@media (max-height: 720px) and (max-width: 1020px) {
  .scroll-down {
    right: 0;
  }
}

@media (max-height: 670px) {
  .profil-info {
    a {
      button {
        width: 190px;
        height: 60px;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (max-height: 600px) {
  .vector {
    height: 115%;
    bottom: 0;
  }
}

@media (max-height: 600px) and (max-width: 1230px) {
  .vector {
    bottom: -100px;
  }
}

@media (max-height: 550px) {
  .vector {
    height: 135%;
  }

  .scroll-down {
    right: 0;
  }
}

@media (max-height: 550px) and (max-width < 1230px) {
  .profil-info {
    flex-direction: row;
    padding-bottom: 40px;
    span {
      p {
        font-size: 20px;
      }
    }
  }
}

@media (max-height: 560px) and (max-width: 780px) {
  .profil-info {
    align-items: center;
  }
}
