
@media(max-width: 850px) {
    .container {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media(max-width: 600px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(max-width: 450px) {
    h3 {
        font-size: 24px;
    }
}