* {
    color: white;
}

a {
    color: blue;
    cursor: pointer;
}

.container {
    text-align: left;
    padding-bottom: 40px;
    max-width: 1440px;
    padding: 100px 220px 64px;
}

h3,
h1 {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

h1 {
    font-size: 40px;
}

ul {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    text-align: center;
}

p {
    text-align: center;
}
