* {
    color: white;
}

a {
    color: blue;
    cursor: pointer;
}

.container {
    margin-top: 109px;
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;
    max-width: 1440px;
}