<div class="my-skills-container" id="my-skill-anchor">
    <section>
        <div class="left">
            <img src="../../assets/img/skills-images/angular.png" alt="">
            <img src="../../assets/img/skills-images/typescript.png" alt="">
            <img src="../../assets/img/skills-images/javascript.png" alt="">
            <img src="../../assets/img/skills-images/html.png" alt="">
            <img src="../../assets/img/skills-images/firebase.png" alt="">
            <img src="../../assets/img/skills-images/git.png" alt="">
            <img src="../../assets/img/skills-images/css.png" alt="">
            <img src="../../assets/img/skills-images/api.png" alt="">
            <img src="../../assets/img/skills-images/scrum.png" alt="">
            <img src="../../assets/img/skills-images/material-design.png" alt="">
        </div>
        <div class="right">
            <header>
                <h2>{{'myskills.skill' | translate}}</h2>
                <span class="stripe"></span>
            </header>
            <p>
                {{'myskills.projects' | translate}}
            </p>
            <a href="#contact-anchor"><button>{{'myskills.contact' | translate}}</button></a>
        </div>
        <img class="orange" src="../../assets/img/side-colors/orange1.png" alt="">
    </section>
</div>