<div class="my-skills-container">
    <section id="my-skill-anchor">
        <div class="left">
            <img src="../../assets/img/skills-images/angular.png" alt="">
            <img src="../../assets/img/skills-images/typescript.png" alt="">
            <img src="../../assets/img/skills-images/javascript.png" alt="">
            <img src="../../assets/img/skills-images/html.png" alt="">
            <img src="../../assets/img/skills-images/firebase.png" alt="">
            <img src="../../assets/img/skills-images/git.png" alt="">
            <img src="../../assets/img/skills-images/css.png" alt="">
            <img src="../../assets/img/skills-images/api.png" alt="">
            <img src="../../assets/img/skills-images/scrum.png" alt="">
            <img src="../../assets/img/skills-images/material-design.png" alt="">
        </div>
        <div class="right">
            <header>
                <h2>My skills</h2>
                <span class="stripe"></span>
            </header>
            <p>
                Ich habe meine Frontend-Entwicklungsfähigkeiten erweitert, die es mir ermöglicht haben, verschiedene
                reale Projekte zu erstellen.
            </p>
            <a href="#contact-anchor"><button>Kontakt</button></a>
        </div>
        <img class="orange" src="../../assets/img/side-colors/orange1.png" alt="">
    </section>
</div>