<div class="modal-overlay" (click)="close()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="close()">&times;</button>
    
    <div class="imprint-body">
      <h1>Impressum</h1>
      <section>
        <h2>Angaben gemäß § 5 TMG</h2>
        <p>Manuel Mannhold<br>
        Musterstraße 123<br>
        12345 Musterstadt</p>
      </section>

      <section>
        <h2>Kontakt</h2>
        <p>E-Mail: contact&#64;manuel-mannhold.de</p>
      </section>
      
      </div>
  </div>
</div>