<div id="imprint">
    <div id="imprint-container" class="d-none">
        <h2 class="headline">{{'imprint.imprint' | translate}}</h2>
        <div class="contact">
            <div class="adress">
                <h2>Manuel Mannhold</h2>
                <p>Paul-Schreier-Straße 26</p>
                <p>16761 Hennigsdorf</p>
            </div>
            <div class="my-contact">
                <p>Tel: <a href="tel: +4917683168535">017683168535</a></p>
                <p>Email: <a href="mailto:contact@manuel-mannhold.de">contact&#64;manuel-mannhold.de</a></p>
            </div>
        </div>
    </div>
</div>