#imprint-container {
    background-color: rgb(20, 29, 47);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    color: white;
    text-shadow: 1px 1px 5px black;
    height: calc(100vh - 400px);
    margin-top: 109px;
    margin-bottom: 20px;
    width: 100vw;
    max-width: 1440px;
}

h1 {
    font-size: clamp(2rem, 8vw, 6rem);
    text-decoration: underline;
    font-weight: bolder;
}

.adress {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: clamp(2rem, 6vw, 4rem);
        text-align: center;
    }

    p {
        text-align: center;
        font-size: clamp(2rem, 5vw, 2rem);
        padding: 5px;
    }
}

.my-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

     p {
        font-size: clamp(1rem, 5vw, 2rem);
     }
}

@media(max-height: 720px) {
    
    .adress {
        h1,
        p
        {
            font-size: unset;
        }
    }

    .my-contact {
        p {
            font-size: unset
        }
    }

    #imprint-container {
        gap: 20px;
    }
}