#imprint-container {
    background-color: rgb(20, 29, 47);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    color: white;
    text-shadow: 1px 1px 5px black;
    height: calc(100vh - 291px);
    padding-top: 109px;
    max-width: 1440px;
}

.headline {
    font-size: clamp(1rem, 6vw, 2rem);
    text-decoration: underline;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.adress {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: clamp(0.5rem, 3vw, 4rem);
        text-align: center;
    }

    p {
        text-align: center;
        font-size: clamp(0.5rem, 3vw, 4rem);
        padding: 5px;
    }
}

.my-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    p {
        font-size: clamp(0.5rem, 3vw, 4rem);
    }
}

@media(max-height: 630px) {
    #imprint-container {
        height: calc(100vh - 150px)
    }
}

@media(max-height: 720px) {
    #imprint-container {
        gap: 20px;
    }
}

@media(max-height: 840px) {
    .contact {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}