#imprint-container {
    background-color: rgb(20, 29, 47);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    color: white;
    z-index: 40000;
    text-shadow: 1px 1px 5px black;
    height: calc(100vh - 400px);
    margin-top: 109px;
    margin-bottom: 20px;
}

.adress {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: clamp(2rem, 8vw, 6rem);
        text-decoration: underline;
        text-decoration-thickness: 4px;
        text-underline-offset: 16px;
        text-align: center;
    }

    p {
        text-align: center;
        font-size: clamp(2rem, 6vw, 4rem);
        padding: 5px;
    }
}

.my-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

     p {
        font-size: clamp(1rem, 6vw, 4rem);
     }
}

#close-imprint {
    position: absolute;
    right: 40px;
    top: 120px;

    img {
        width: 40px;
        height: 40px;
        cursor: pointer;
        box-shadow: 0 0 8px white;
        border-radius: 50%;
    }
}

@media(max-height: 720px) {
    
    .adress {
        h1,
        p
        {
            font-size: unset;
        }
    }

    .my-contact {
        p {
            font-size: unset
        }
    }

    #imprint-container {
        gap: 20px;
    }
}