<app-header></app-header>
<div id="imprint">
    <div id="imprint-container" class="d-none">
        <div id="close-imprint">
            <img src="../../assets/img/close-button.png" alt="">
        </div>
        <div class="adress">
            <h1>Manuel Mannhold</h1>
            <p>Paul-Schreier-Straße 26</p>
            <p>16761 Hennigsdorf</p>
        </div>
        <div class="my-contact">
            <p>Tel: <a href="tel: +4917683168535">017683168535</a></p>
            <p>Email: <a href="mailto: M.Mannhold@gmx.de">M.Mannhold&#64;gmx.de</a></p>
        </div>
    </div>
</div>
<app-footer></app-footer>