

.links {
    display: flex;
    gap: 46px;
    font-size: 24px;
    padding-left: 10px;
}

.this-is-me {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: calc(100vh - 109px);
    max-width: 1440px;
    overflow: hidden;
}

.profil {
    width: 50%;

    .profil-image {
        z-index: 1;
        background-image: url('../../../src/assets/img/side-colors/background-profil-image.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }

    .background-profil-image {
        position: absolute;
        left: -40px;
        top: 100px;
    }
}

.profil-info {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-right: 100px;

    a {
        z-index: 1001;
    }

    span p {
        transform: rotate(-90deg);
        font-size: 42px;
    }

    div {
        display: flex;
        align-items: center;
        width: 125%;
    }

    .red-color {
        display: block;
        text-transform: uppercase;
        font-size: 55px;
        color: rgb(255, 71, 71)
    }

    h1 {
        font-size: 62px;
        font-weight: 700;
    }
}

.vector {
    z-index: 100;
    position: absolute;
    bottom: -120px;
    overflow: hidden;
    height: 100%;
}

.scroll-down {
    position: absolute;
    bottom: 109px;
    right: 100px;
    color: white;
    z-index: 600;
    transform: rotate(90deg);
    display: flex;
    height: 30px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    pointer-events: none;
    img {
        width: 16px;
        height: 16px;
        transform: rotate(-90deg);
    }
}

.links-to-locations {
    position: absolute;
    bottom: 10px;
    z-index: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 23px;

    .links-logos {
        display: flex;
        gap: 40px;
    }

    .red-line {
        width: 100px;
        height: 1px;
        border-radius: 15px;
        border: 4px solid #FF4747;
    }
}

.to-the-top {
    position: absolute;
    right: 40px;
}

.border-red {
    border: 1px solid red;
}

.border-green {
    border: 1px solid green;
}

@media(max-width: 1230px) {
    .this-is-me {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .profil img{
            width: unset!important;
    }

    .profil {
        width: 100%;
        flex: 1;
    }

    .profil-info {
        z-index: 1020;
        width: 100%;
        flex: 1;

        div {
            width: unset;
        }
    }

    .scroll-down {
        right: 40px;
    }
}

@media(max-width: 960px) {
    .scroll-down {
        display: none;
    }

    .profil-info {
        padding-right: 50px;
    }
}

@media (max-width: 860px) {
    .header {
        padding-left: 0;

        span h3 {
            width: unset;
            padding-left: 10px;
        }
    }

    .profil-info {
        span h1,
        span h2
        {
            font-size: 40px;
        }
        span p {
            font-size: 30px
        }
    }    
}

@media(max-width: 740px) {
    .links {
        display: none;
    }

    #responsive-menu-button {
        display: inline!important;
    }

    .header {
        padding-right: 20px;
    }
}

@media (max-width: 605px) {
    .profil-info {
        padding-right: unset;

        span h1,
        span h2
        {
            font-size: 32px;
        }
        span p {
            font-size: 20px;
        }
    }

    .email-adress {
        display: none;
    }

    .header {
        padding-right: 20px;
    }

    section {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 475px) {
    .profil-info {
        padding-right: unset;
        
        span h1
        {
            font-size: 22px;
        }

        span h2 {
            font-size: 20px;
        }
        span p {
            font-size: 18px;
        }
    }

    .profil {

        .profil-image {
            left: 0;
        }
    }
}

/*<-----------height------------->*/

@media(max-height: 840px) and (max-width: 1230px) {
    .profil {
        height: 60%;
        img{
            left: unset!important;
            height: 100%;
        }
    }

    .vector {
        bottom: -80px;
        height: 100%;
        width: 100%;

            img {
                height: 100%;
                width: 100%;
            }
    }
}

@media(max-height: 670px) {
    .profil-info {
        a {

            button {
                width: 190px;
                height: 50px;
            }
        }
    }
}

@media(max-height: 560px) {
    .profil-info {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
        div{
            span {
                p {
                    font-size: 20px;
                }
                h1 {
                    font-size: 48px;
                }
                h2 {
                    font-size: 40px
                }
            }
        }
    }
}

@media(max-height: 560px) and (max-width: 780px) {
    .profil-info {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
        div{
            span {
                p {
                    font-size: 16px;
                }
                h1 {
                    font-size: 40px;
                }
                h2 {
                    font-size: 32px
                }
            }
        }
    }
}