
@media(max-width: 900px) {
    .my-skills-container {

        section {
            flex-direction: column-reverse;
            text-align: center;

            .left,
            .right
            {
                width: 100%;
            }
        }
    }
}

.right {

    header {
        justify-content: flex-end;
        gap: 20px;
    }
}

@media (max-width: 760px) {
    #my-skill-anchor {
        flex-direction: column-reverse;
        height: unset;
    }

    .orange {
        display: none;
    }

    .right {
        width: 100%;
    }

    .left {
        width: 100%;
        padding-top: 20px;
    }
}

@media(max-width: 700px) {
    .right {
        header {
            justify-content: flex-end;
            gap: 20px;
    }

    }
}

@media(max-width: 640px) and (max-height: 550px) {
    .left {
        overflow-y: scroll;
    }   
}

@media(max-width: 600px) {
    .my-skills-container {

        section {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

@media(max-width: 580px) {
    .orange {
        z-index: unset;
        top: 60px;
    }
}

@media (max-width: 460px) {
    #my-skill-anchor {
        text-align: center;
    }

    .right {
        p {
            text-align: center;
            padding-right: unset;
        }
    }

    .left {
        gap: 10px;
        justify-content: center;
    }
}

@media (max-width: 370px) {
    #my-skill-anchor {
        height: unset;
    }
}

@media(min-height: 1000px) {
    .my-skills-container {
        height: 70vh;
    }
}