.my-skills-container {
    width: 1440px;
    background-color: rgb(20,29,47);
    height: 100vh;
    display: flex;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 1440px;
}

.left {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(115px, 100px));
    gap: 20px;
    z-index: 100000;

    img:hover {
        transform: translateY(-10px);
    }
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: relative;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        h2 {
            font-size: clamp(2rem, 6vw, 4rem);
            color: white;
            font-weight: 700;
        }

        .stripe {
            border: 4px solid rgb(255,71,71);
            border-radius: 10px 0 0 10px;
            width: 30%;
            height: 1px;
        }
    }    

    p {
        color: white;
        font-size: 16px;
        line-height: 19.2px;
        text-align: right;
        padding-right: 100px;
        text-align: center;
        z-index: 20;
    }
}

.orange {
    position: absolute;
    left: -40px;
    z-index: 10000;
}
