.d-none {
    display: none !important;
}

.footer-container {
    height: 291px;
    background-color: rgb(20, 29, 47);
    border-top: 4px solid #FA7902;
    display: flex;
    justify-content: center;
}

footer {
    height: 100%;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-name {
    font-size: 16px;
    padding-bottom: 20px;

    h2 {
        font-size: clamp(2rem, 5vw, 5rem);
        font-weight: 700;
    }

    span {
        display: flex;
        gap: 10px;
    }
}

.footer-links {
    display: flex;
    gap: 50px;
    cursor: pointer;
    text-decoration: underline;
}

.footer-link-btn {
    background: none;
    border: none;
    color: white; /* Oder deine Link-Farbe */
    font-family: inherit;
    font-size: 18px; /* An dein Design anpassen */
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
        color: orange;
        text-decoration: underline;
    }
}

/*<-----------imprint-------------->*/