
@media(max-width: 900px) {

    .project-card {
        flex-direction: column;
    }

    .project-card {
        .project-image {
            width: 60%;
            display: flex;
            justify-content: center;
        }
    }

    .project-content {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .buttons-project {
        gap: 24px;
        justify-content: center;
    }

    .project-card .project-image img {
        max-width: 280px;
    }
}

@media(max-width: 600px) {
    .filter-buttons {
        flex-direction: column;
    }
}

@media(max-width: 450px) {
    #portfolio-anchor {
        padding-left: 20px;
        padding-right: 20px;
    }

    .buttons-project {
        gap: 30px;
    }

    section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .projects {
        padding-right: unset;
    }
}

@media(max-width: 400px) {
    .buttons-project {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        width: 100%;
    }

    .buttons-project {
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }
}