<div class="portfolio-container" id="portfolio-anchor">
    <section>
        <header>
            <span class="stripe-left"></span>
            <h2>Portfolio</h2>
            <span class="stripe-right"></span>
        </header>
        <div class="projects">
            <p class="projects-description">{{'portfolio.examples' | translate}}</p>
            <div class="projects-examples">
                <div class="join-project">
                    <div class="join-project-image">
                        <img src="../../assets/img/join.png" alt="">
                    </div>
                    <div class="join-project-info">
                        <h2>Join</h2>
                        <h3>HTML | CSS | JavaScript | Firebase</h3>
                        <p>{{'portfolio.join' | translate}}</p>
                        <p>{{'portfolio.join-subtext' | translate}}</p>
                        <span class="buttons-project">
                            <a href="https://join.manuel-mannhold.de/index.html" target="_blank"><button>Live
                                    Test</button></a>
                            <a href="https://github.com/ManuelMannhold/join" target="_blank"><button
                                    class="buttons-project-transparent">Github</button></a>
                        </span>
                    </div>
                </div>
                <div class="el-pollo-locco-project">
                    <div class="el-pollo-loco-project-image">
                        <img src="../../assets/img/pollo-locco.png" alt="">
                    </div>
                    <div class="el-pollo-loco-project-info">
                        <h2>El Pollo Locco</h2>
                        <h3>HTML | CSS | JavaScript</h3>
                        <p>{{'portfolio.pollo' | translate}}</p>
                        <span class="buttons-project">
                            <a href="https://el-pollo-loco.manuel-mannhold.de/index.html" target="_blank"><button>Live
                                    Test</button></a>
                            <a href="https://github.com/ManuelMannhold/el-pollo-loco" target="_blank"><button
                                    class="buttons-project-transparent">Github</button></a>
                        </span>
                    </div>
                </div>
                <div class="portfolio-project">
                    <div class="join-project-image">
                        <img src="../../../assets/img/portfolio.PNG" alt="">
                    </div>
                    <div class="join-project-info">
                        <h2>Portfolio</h2>
                        <h3>HTML | CSS | TypeScript | Angular</h3>
                        <p>{{'portfolio.portfolio' | translate}}</p>
                        <span class="buttons-project"> 
                            <a href="https://github.com/ManuelMannhold/portfolio" target="_blank"><button class="buttons-project-transparent">Github</button></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>